*.iml
/*.ipr
/*.iws
/.ideaDataSources
/.shelf
/dataSources
.DS_Store
.idea
.idea/
.sass-cache/
.tmp/
bower_components/
build/
coverage/
dist/
node_modules/
package-lock.json
report/
target
_windows/laf.xml
bitbucket-linky.xml
colors.scheme.xml
debugger.xml
editor.xml
filetypes.xml
ide.general.xml
lombok-plugin.xml
notifications.xml
ui.lnf.xml
vcs.xml