button {
	border-radius: 0px;
	background-color: #ea2340;
}
text {
	text-align: left;
	font: #06263998 32px/59px Raleway;
	letter-spacing: 0;
	color: #ea2340;
	opacity: 1;
}
label {
	text-align: left;
	font: Regular 16px/24px Raleway;
	letter-spacing: 0;
	color: #06263998;
	opacity: 1;
}
a {
	color: #06263998;
}
input.form-check-input {
}
h1 {
	color: #ea2340;
}

.mat-checkbox-frame {
	color: #1eea11 !important;
}
.mat-checkbox-checked {
	color: #fafafa !important;
}
.mat-checkbox-background {
	color: #fafafa !important;
}
