<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<div class="container">
	<form class="px-4 py-3">
		<h1 class="text">Registration</h1>
		<label class="label">Type your data and hit Yalla!</label>
		<div class="form-group">
			<input type="name" class="form-control" placeholder="Name" />
		</div>
		<div class="form-group">
			<input type="name" class="form-control" placeholder="Last Name" />
		</div>
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Email" />
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password" />
		</div>

		<div class="dropdown-divider"></div>
		<div class="container">
			<label> I agree to the <a href="#">terms of use</a> and <a href="#">privacy policy.</a> </label>
		</div>

		<button type="submit" class="btn btn-danger">Sign in</button>
	</form>
	<mat-checkbox></mat-checkbox>
</div>
