.grey-button {
  color: #FFFFFF;
  //padding: 10px 20px;
  margin-left: 20px;
  padding-left: 20px;
  border-right: 100px solid transparent;
  border-bottom: 50px solid #6C7E8B;
  border-left: 0 solid transparent;
  height: 0;
  width: 200px;
  line-height: 50px;
  position: absolute;
}
