.il-button {
  color: #6C7E8B;
  //padding: 10px 20px;
  //margin: 25px;
  padding-left: 10px;
  border-right: 100px solid transparent;
  border-bottom: 50px solid #FFFFFF;
  border-left: 0 solid transparent;
  height: 0;
  width: 200px;
  line-height: 50px;
}
