  .il-slider .ng5-slider .ng5-slider-bar {
    background: $navy;
    height: 2px;
    //width: 500px;
    margin-left: 20px;
  }
  .il-slider .ng5-slider .ng5-slider-selection {
    background: $navy;
  }

  .il-slider .ng5-slider .ng5-slider-pointer {
    background: transparent;
    border-radius: 0;
      width: 0;
      height: 15px;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-bottom: 20px solid $navy;
  }

  .il-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .il-slider .ng5-slider .ng5-slider-bubble {
    bottom: 10px;
    font-size: 12px;
  }

  .il-slider .ng5-slider .ng5-slider-limit {
    color: $navy;
    font-size: 12px;
    display: none;
  }

  .il-slider .ng5-slider .ng5-slider-tick {
    width: 0;
    height: 0;
    margin-left: 4px;
    border-radius: 0;
    background: $navy;
    top: -1px;
  }

  .il-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background:  $navy;
  }

  .il-slider .range {
    margin-left: 100px;
  }

  .il-slider .price {
    margin-left: 100px;
    color: #6C7E8B;
  }

