.search-form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  margin-left: 20px;
    height: 50px;
}

.search-form[color="red"]{
  border-bottom: 5px solid $red;
}

.search-form[color="navy"]{
  border-bottom: 5px solid $navy;
}

.search-form[color="grey"]{
  border-bottom: 5px solid #6C7E8B;
}

