@import 'projects/ic-ui/src/styles';

#loginDiv {
	display: grid;
	grid-template-columns: 67% 33%;
	grid-template-rows: 590px;
	grid-template-areas: 'l r';
}

#loginDivLeft {
	grid-area: l;
}

#loginCarImg {
	height: 100%;
	width: 149%;
	margin-left: -49%;
}

#loginDivRight {
	grid-area: r;
	box-shadow: -3px 0 6px -3px $color-shadow;
	color: $color-text-grey;
	padding-left: 5% !important;
}

#loginHeader {
	margin: 0;
	font: $font-32-59;
	font-weight: $font-weight-black;
	letter-spacing: 0;
	color: $color-red;
}

#loginText {
	margin: -3% 0 8% 0;
	font: $font-regular-16-24;
	letter-spacing: 0;
}

#loginLink {
	font: $font-regular-13-24;
	margin-top: 40%;
}

#loginStyle {
	margin: 0;
}

#rectangle {
	position: absolute;
	width: 4%;
	height: 2%;
	background: $color-red;
	margin: 2% 0 0 -1%;

	&:before {
		content: '';
		position: absolute;
		width: 35px;
		right: -35%;
		border-top: 15px solid white;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
