.mat-button {
	background: #ea2340 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000052;
	text-align: center;
	font: Bold 18px/59px Raleway;
	letter-spacing: 0;
	color: #ffffff;
}
.mat-button-frame {
	top: 435px;
	left: 1365px;
	width: 188px;
	height: 48px;
	background: #ea2340 0 0 no-repeat padding-box;
	box-shadow: 0 3px 6px #00000052;
	opacity: 1;
}
.mat-form-field {
	width: Bold 18px/59px Raleway;
	height: Bold 24px/24px Raleway;
	color: #5f727e;
}
.mat-form-field {
	color: #06263998;
	text-align: left;
	font: Regular 13px/24px Raleway;
	letter-spacing: 0;
	border: 1px solid #5f727e;
	opacity: 1;
}
