<div>
	<div id="loginDivLeft"></div>
	<div id="loginDivRight">
		<p id="loginHeader">Log in</p>
		<p id="loginText">Type your data and hit Yalla!</p>
		<p>
			<mat-form-field appearance="outline">
				<input matInput placeholder="Email" type="text" />
			</mat-form-field>
		</p>
		<p>
			<mat-form-field appearance="outline">
				<input matInput placeholder="Password" type="password" />
			</mat-form-field>
		</p>
		<p>
			<button mat-button>Y’alla!</button>
		</p>
		<p id="loginLink">Forgot your password? <a routerLink="/login">Click here</a></p>
		<p id="loginStyle">
			<span id="rectangle"></span>
		</p>
	</div>
</div>
