<div id="MPCDiv">
	<div id="MPCDivBlueLeft" class="MPCDivRedLine">
		<span class="MPCDivBlueLeftText">NEVER MISTAKEN<br />FOR ANYTHING ELSE</span>
	</div>
	<div id="MPCDivBlueCenter" class="MPCDivRedLine">
		<span>
			Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears
			jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut
			halvah tiramisu bear claw tart.
		</span>
	</div>
	<div id="MPCDivBlueRight" class="MPCDivRedLine">
		<div class="MPCDivBlueRightText">
			<span>Affordable prices<br />Guaranteed cars</span>
			<button mat-button>Join now!</button>
		</div>
	</div>
	<div id="MPCDivWhiteLeft">
		<span class="MPCDivWhiteLeftNumber">3</span>
		<span class="MPCDivWhiteLeftText">MOST POPULAR<br />CHOICES IN YOUR AREA</span>
	</div>
	<div id="MPCDivWhiteRight">
		<span>
			Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake chocolate cake. Bonbon gummi bears
			jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice cream bonbon halvah bonbon topping. Donut
			halvah tiramisu bear claw tart.
		</span>
	</div>
	<div id="MPCDivCarsLeft"></div>
	<div id="MPCDivCarsCenter"></div>
	<div id="MPCDivCarsRight"></div>
</div>
