@import 'projects/ic-ui/src/styles';

#MPCDiv {
	display: grid;
	grid-template-columns: 16.6666666667% 16.6666666667% 16.6666666667% 16.6666666667% 16.6666666667% 16.6666666667%;
	grid-template-rows: 266px 399px 553px;
	grid-template-areas:
		'bl bl bc bc br br'
		'wl wl wl wr wr wr'
		'c  c  c  c  c  c';
}

.MPCDivRedLine {
	position: relative;
	width: 100%;
	height: 100%;
	background: $color-red;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		right: 0;
		top: 5%;
		border-top: 24px solid $color-red;
	}
}

#MPCDivBlueLeft {
	grid-area: bl;
	background-color: $color-blue;
	color: white;
	font: 50px/50px Bebas Neue;
	letter-spacing: 0;
	display: flex;
	align-items: center;
}

.MPCDivBlueLeftText {
	padding-left: 30%;
	text-transform: capitalize;
}

#MPCDivBlueCenter {
	grid-area: bc;
	background-color: $color-blue;
	color: white;
	font: 300 13px/24px Raleway;
	display: flex;
	align-items: center;
}

#MPCDivBlueRight {
	grid-area: br;
	background-color: $color-blue;
	color: $color-red;
	font: 32px/32px Raleway;
	font-weight: $font-weight-black;
	display: flex;
	align-items: center;
}

.MPCDivBlueRightText {
	padding-left: 7%;
}

#MPCDivWhiteLeft {
	grid-area: wl;
	display: flex;
	align-items: center;
	padding-left: 23%;
}

.MPCDivWhiteLeftNumber {
	font: 149px/149px Bebas Neue;
	color: $color-red;
}

.MPCDivWhiteLeftText {
	font: 54px/54px Bebas Neue;
	color: $color-blue;
}

#MPCDivWhiteRight {
	grid-area: wr;
	display: flex;
	align-items: center;
	padding-left: 23%;
	font: 400 16px/24px Raleway;
	color: $color-blue;
}

#MPCDivCars {
	grid-area: c;
	background-color: $color-blue;
	overflow: hidden;
}
#MPCDivCarsRed {
	background-color: $color-red;
	height: 92%;
	transform: skew(45deg);
	width: 120%;
	margin-left: -10%;
	overflow: hidden;
}

.MPCDivCar {
	height: 90%;
	width: 30%;
	display: inline-block;
	overflow: hidden;
}

.MPCDivCar0 {
	margin: 1% 0 0 4%;
}

.MPCDivCarImg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90%;
	display: inline-block;
	transform: skew(-45deg);
}

.MPCDivCarImg0 {
	width: 145%;
	margin-left: -7%;
}

.MPCDivCarImg1 {
	width: 176%;
	margin-left: -38%;
}

.MPCDivCarImg2 {
	width: 138%;
	margin-left: -38%;
}

.MPCCarImgTitle {
	color: white;
	font: 32px/38px Bebas Neue;
	letter-spacing: 0;
	text-transform: capitalize;
	position: absolute;
}

.MPCCarImgTitle0 {
	margin-top: -4%;
	margin-left: 7%;
}

.MPCCarImgTitle1 {
	margin-top: -4%;
	margin-left: 43%;
}

.MPCCarImgTitle2 {
	margin-top: -4%;
	margin-left: 79%;
}

.MPCCarPrice {
	width: 12%;
	height: 12%;
	background-color: white;
	position: absolute;
	margin-top: -2%;
	margin-left: 6%;
	color: $color-red;
	box-shadow: 0 3px 6px #00000052;
}

.MPCCarPrice0 {
	margin-left: 6%;
}

.MPCCarPrice1 {
	margin-left: 42%;
}

.MPCCarPrice2 {
	margin-left: 78%;
}

.MPCCarPriceSymbol {
	font: Bold 31px/102px Raleway;
	letter-spacing: 0;
	position: absolute;
	margin: -12% 0 0 6%;
}

.MPCCarPriceSum {
	font: Bold 88px/106px Bebas Neue;
	letter-spacing: 0;
	position: absolute;
	margin: -1% 0 0 18%;
}

.MPCCarPeriod {
	position: absolute;
	margin: 18% 0 0 72%;
	text-transform: capitalize;
	font: Bold 24px/29px Bebas Neue;
	color: $color-text-grey;
	transform: rotate(-90deg);
}
