<mat-label>Find your car now! </mat-label>
<div>
	<mat-form-field appearance="outline"
		><mat-select placeholder="Make">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Model">
			<mat-option>Audi</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Year">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Engine">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Fuel">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Transmission">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="WD">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Horsepower">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div>
	<mat-form-field appearance="outline">
		<mat-select placeholder="Fuel consumption">
			<mat-option></mat-option>
		</mat-select>
	</mat-form-field>
</div>
